inst/doc
r-references.bib
ampps*
Meta
doc
notes.md
.Rproj.user
.Rhistory
.RData
.Ruserdata
iMplusThreadResults6.out
binary/
*.out
*.inp
*.dat
*.txt
*.log
analysis-for-paper.r
ex-data.csv
tests/test_local.R
*.RData
/doc/
/Meta/
